#theMenu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #EEE;
    font-family: sans-serif;
    font-size: 20px;
    padding: 25px;
    margin: 0;
    overflow: auto;
}

#container li {
    margin-bottom: 10px;
}